{% extends 'base.html' %}
{% block title %}- Faturamneto{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
	<div>
        <div class="content-section">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST"> {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Faturamento</legend>
                    <div class="pure-control-group">
                        <div class="pure-control-group">
                            {{ form|crispy }}
                        </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
        
        <h3>Resultados</h3>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Faturamento</th>
                </tr>
                </thead>
            {% for i in resultados %}
                <tbody>
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                    </tr>
                </tbody>
            {%endfor%}
        </table>
            
    </div>
{% endblock content %}
 