{% extends 'base.html' %}

{% block title %}- Read{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
	<div>
        <div class="content-section">
            <form method="POST"> {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Read</legend>
                    <div class="pure-control-group">
                        <div class="pure-control-group">
                            {{ form|crispy }}
                        </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Confirmar</button>
                </div>
            </form>
        </div>

        {% if resultados %}
        <h3>Resultados</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for column in resultados %}
                    <tr>
                        <th scope="row">0</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    {% endfor %}
                        
                </tbody>
            </table>    
        {% endif %}
    </div>
{% endblock content %}
 