{% extends 'base.html' %}

{% block title %}- Read{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
	<div>
        <div class="content-section">
            {% load index %}

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Cidade</th>
                    </tr>
                    </thead>
                {% for i in selected %}
                    <tbody>
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                        </tr>
                    </tbody>
                {%endfor%}
            </table>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
 